APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

DISCORD_TOKEN=

START_DAY=1
START_MONTH=12
START_HOUR=15

END_PARTICIPATION_DAY=23
END_PARTICIPATION_MONTH=12
END_PARTICIPATION_HOUR=15

DRAW_DAY=24
DRAW_MONTH=12
DRAW_HOUR=15

GIVE_DAY=31
GIVE_MONTH=12
GIVE_HOUR=15